WorkFlowPresentation/Connected Services/WorkFlowWebService/Svc.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55890/Svc.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WorkFlowEngine.BLL" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NewRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="systemID" type="xs:int" />
        <xs:element minOccurs="0" name="docID" type="xs:int" />
        <xs:element minOccurs="0" name="requestorID" type="xs:int" />
        <xs:element minOccurs="0" name="owner" type="xs:int" />
        <xs:element minOccurs="0" name="curSequenceID" type="xs:int" />
        <xs:element minOccurs="0" name="conditionID" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WorkFlowEngine.BLL" minOccurs="0" name="choiceList" nillable="true" type="q1:ArrayOfRequestorChoice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NewRequestResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Construct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="systemID" type="xs:int" />
        <xs:element minOccurs="0" name="documentID" type="xs:int" />
        <xs:element minOccurs="0" name="mainSequenceID" type="xs:int" />
        <xs:element minOccurs="0" name="conditionID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConstructResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WorkFlowEngine.BLL" minOccurs="0" name="ConstructResult" nillable="true" type="q2:RequestorChoice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>